
  <%= simple_form_for([@publication, @publication.comments.build]) do |f| %>
    <div class="comment-field">
      <%= f.input :content, required: true %>
    </div>
    <div class="comment-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
