<div class="publication-stream">
  <% if current_user %>
    <div class="new-btn">
      <%= link_to 'Nueva Publicación', new_publication_path %>
    </div>
  <% end %>
  <% if @publications %>
    <ol>
      <% @publications.each do |publication| %>
        <%= render 'publications/preview', publication: publication %>
      <% end %>
    </ol>
  <% else %>
    <p class="tile"> No tienes publicaciones </p>
  <% end %>
</div>
