<div class="publications publication-stream">
  <h1>Publicaciones: <%= @publications.size %></h1>
  <ol>
    <% @publications.each do |publication| %>
      <%= render 'publications/preview', publication: publication %>
    <% end %>
  </ol>
  <%= link_to 'New Publication', new_publication_path, class: 'new-button' %>
</div>
