<div class="welcome form-style">
  <h1>Bienvenido a Supercampeones</h1>
  <h3>puedes navegar viendo los torneos actuales, <%= link_to "registrarte", new_user_path %> o <%= link_to "ingresar",new_session_path %></h3>
</div>
