
.publication_image {
  height: 100px;
  width: 100px;
}

.team_shield {
  height: 100px;
  width: 100px;
}

 .new-button, .edit-button {
   border-color: #818488;
   color: #818488;
   margin-left: 10px;
 }

 .timestamp {
   color: #8c8c8c;
 }

 .checkbox {
    display: grid;
}
