/*
*= require_tree .
*= require_self
*/
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);
@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}

html, body {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

p.alert, p.notice {
	margin: 0;
}

body {
  font-family: Helvetica, 'Lora', serif;
	background-color: #f5f5f5;
}

.container {
	margin: 0 auto;
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

header {
	width: 100%;
	margin: 0;
}

main {
	padding-top: 20px;
	margin: auto;
	min-height: 650px;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}


/* Menu styles */
nav {
  font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
  text-transform: uppercase;
  background-color: #fff;
  color: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.nav-brand {
  letter-spacing: 4px;
	font-weight: bold;
	margin: 0 auto;
}

nav ul{
  list-style-type: none;
  margin: 0 auto;
	padding: 0;
	align-items: center;
	flex: 1 1 0;
}

nav ul.main-menu {
	margin: 0 auto;
	justify-content: flex-start;
}
nav ul.user-bar {
	margin: 0 auto;
	justify-content: flex-end;
}

nav a, .name {
  text-align: center;
  display: block;
  padding: 30px 20px;
}
nav a:hover {
  color: #f1c40f;
  transition: 0.3s;
}


@media screen and (min-width: 768px){
  nav ul{
    display: flex;
  }
  nav li {
    flex: 1 1 0;
  }
}

footer {
  width: 90%;
  text-align: center;
  position: relative;
  left: 5%;
}

#license, #project {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

/* Other styles */

.form-style {
	@include background-tile;
	h1 {
		margin-top: 0;
	}
	width: 500px;
	margin: 0 auto;

}

.btn-custom1 {
	color: darken(#f1c40f, 5%);
	background-color: #fff;
	border: 1px solid darken(#f1c40f, 5%);
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		background-color: darken(#f1c40f, 5%);
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
  display: inline-block;
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}
}
