@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}

.new-match-btn{
	text-align: center;
	margin-bottom: 40px;
}

.matches-stream{
	@include background-tile;
	width: 50%;
	margin: auto;
	td{
		padding-left: 20px;
	}
}
