.content {
  display: block;
}

.publication-stream {
  ol {
    padding-left: 10px;
    list-style: none;
    height: 300px;
    overflow: scroll;
    width: 90%;
  }

  .publication-stream-item {
    padding: 10px 0;
    background-color: white;
  }

  .publication-stream-item:not(:first-child) {
    border-top: 1px solid #e8e8e8;
  }
}
