.content {
  display: block;
}

.publication-stream {
  ol {
    padding-left: 10px;
    list-style: none;
    height: 300px;
    overflow: scroll;
    width: 90%;
  }

  .publication-stream-item {
    padding: 10px 0;
  }

  .publication-stream-item:not(:first-child) {
    border-top: 1px solid #e8e8e8;
  }
}

.publications.publication-stream {
  width: 99%;
}

li.publication-stream-item {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 4%;
    border-style: solid;
}
