// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
  text-align: center;
  padding-top: 20px;
  width: 50%;
  margin: auto;
  a:hover{
    color: #f1c40f;
  }
}
